In [1]:
import numpy as np
import pandas as pd

In [2]:
a = np.ndarray([1, 2, 3])
b = np.ndarray([4, 5, 6])

In [4]:
df = pd.DataFrame(
    np.ndarray([a, b]),
    columns=["a", "b", "c"],
)
print(df)

TypeError: only integer scalar arrays can be converted to a scalar index

In [7]:
np.ndarray([[a, b]])

TypeError: 'list' object cannot be interpreted as an integer