In [8]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [11]:
csv = pd.read_csv("data/values.csv", index_col=0)

In [12]:
csv

   train_loss_value  train_acc_value  test_loss_value  test_acc_value
0          2.260792         0.321117         2.260139          0.3300
1          2.189843         0.488550         2.188382          0.4948
2          2.046042         0.581633         2.042219          0.5993
3          1.720765         0.682317         1.710174          0.6983
4          1.180437         0.755500         1.159028          0.7704